<form method="post" action="{{ path('joueur_delete', {'id': joueur.id}) }}" class="d-inline" onsubmit="return confirm('Supprimer ce joueur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form> 