<form method="post" action="{{ path('equipe_delete', {'id': equipe.id}) }}" class="d-inline" onsubmit="return confirm('Supprimer cette équipe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
