{% extends 'base.html.twig' %}

{% block title %}Modifier l'équipe{% endblock %}

{% block body %}
    <h1 class="mb-4">Modifier l’équipe</h1>
    <div class="card p-4">
        {% include 'equipe/_form.html.twig' with {'form': form, 'button_label': 'Mettre à jour'} %}
    </div>
    <a href="{{ path('app_home') }}" class="btn btn-link mt-3">← Retour</a>
{% endblock %}
